// styles.scss

@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600&display=swap');

.a {
  background-color: #94c11f;
  height: 100vh;
  width: 100vw;
}

.logo-container {
  padding-top: 20px;
  margin-bottom: 10px;
}

.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

div {
  .space {
    padding: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 18px;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #31383b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 600;
  }
}

.resultado {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;

  p {
    margin: 0;
    font-size: 16px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) {
  div {
    label {
      margin-bottom: 8px;
    }

    input {
      font-size: 14px;
    }

    button {
      width: 100%;
      padding: 8px 12px;
      font-size: 14px;
    }
  }

  .resultado {
    padding: 12px;
    margin-top: 15px;

    p {
      font-size: 14px;
      font-family: 'Saira Semi Condensed', sans-serif;
      font-weight: 700;
    }
  }
}
